pandas
numpy
matplotlib
seaborn
scipy
tqdm
Pillow
opencv-python
iterative-stratification
scikit-learn
torch==2.5.1+cu124
torchvision==0.18.1+cu124
torchaudio==2.5.1+cu124
-f https://download.pytorch.org/whl/cu124
